*{
    font-family: Veranda;
}

h2{
    text-align: center;
}

#main{
    border: 5px solid teal;
    background-color:lightblue;
}

#articles{
    background-color: white;
    position: relative;
    left: 30px;

}


#topNav{
    background-color: white;
    height: 50px;
    width: 100%;
    text-align: center;

}

#navLi {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 20px;

}
#articles > header{
    position: relative;
    left: 150px;

}
#articles > p {

}
#articles > footer{
    position: relative;
    left: 300px;

}

#sidebar{
    background-color: dodgerblue;
    float: right;
    position: fixed;
    bottom: 500px;
    width: 200px;
    height: 200px;
    right: 50px;

}

#sidebar > p{
    text-align: center;
}

#mainfooter{
    border: 5px solid teal;
    position: relative;
    float: right;
    right: -5px;
    width: 100%;
    background-color: lightblue;
}

#mainfooter > p{
    text-align: right;
    padding: 10px;
}


