* {
    font-family: Veranda;
}

h2{
    text-align: center;
}

body{

}
#main{
    border: 5px solid teal;
    background-color: lightblue;
}

#topNav li{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

#topNav ul{
    list-style-type: none;
    background-color: white;
    display: -webkit-box;
    -webkit-box-flex: 1;
}

#mainContent{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    margin: 20px;
    padding: 20px;
    max-width: 650px;
    width: 80%;
    height: 100%;
}

article{
    max-width: 300px;
    background-color:white;
    margin: 10px;
    padding: 10px;
    -webkit-box-flex: 1;
    height: 50%;
}

#sidebar{
    text-align: center;
    -webkit-box-flex: 1;
    max-width: 300px;
    height: 500px;
    margin: 10px;
    background-color: dodgerblue;
}


header{
    text-align: center;
}

#artfooter{
    text-align: right;
}

#mainfooter {
    text-align: right;
}

