* {
    font-family: Veranda;
}

h2{
    text-align: center;
}

body{

}
#main{
    border: 5px solid teal;
    background-color: lightblue;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
}

#topNav li{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

#topNav ul {
    list-style-type: none;
    background-color: white;
    display: -webkit-box;
    -webkit-box-flex: 1;
}

#articles{
    -webkit-box-flex: 1;
    background-color: white;

}

#mainContent{
    background-color:white;
    margin: 20px;
    padding: 20px;
    -webkit-box-flex: 1;
    -webkit-ordinal-group: 1;
}

#sidebar{
    background-color: dodgerblue;
    -webkit-box-flex: 1;
    -webkit-box-ordinal-group: 2;
}


header{
    text-align: center;
}

footer{
    text-align: right;
}

#mainfooter {
    text-align: right;
}

